<h1>Scores</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>
        Username
      </th>
      <th>
        Score
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each model.scores as |scorer|}}
      <tr>
        <td>
          {{scorer.username}}
        </td>
        <td>
          {{scorer.score}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
