<h1>Stats</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>
        Stat
      </th>
      <th>
        Value
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |thinggy|}}
      <tr>
        <td>
          {{thinggy.k}}
        </td>
        <td>
          {{thinggy.v}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
